* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: black;
    font-family: Times;
}

/* HEADER SECTIONS STARTS */

header h1 {
    font-weight:bold;
    font-size: 36px;
    color: black;
    margin: 0;
    display: inline;
  }

header {
    padding: 20px 35px;
    flex-wrap: wrap;
    display: flex;
    background-color: white;
    justify-content: space-between;
  }

/* links in header */

  header a {
    text-decoration: none;
    color: #98a8b8;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


/* HEADER SECTION ENDS */

/* HERO SECTION STARTS */

.hero {
    background-image: url("../assests/Downtown-Tampa.jpg.crdownload");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 100%;
  }

  /* ABOUT ME */

  .about-me {
    margin: 20px auto;
    padding-bottom: 50px;
    width: 75%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:left;
  }

  .about-me-text {
    width:65%;
    margin-left:10%;
    text-align: left;
    float: left;
    background-color: aliceblue;
    padding: 20px;
  }

  .about-me img {
    width: 25%;
    margin-left: 10px 0;
    text-align: right;
    float: left;
    background-color: aliceblue;
    padding: 10px;
  }

  img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }

 /* WORK SECTION */

  .bigwork {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .bigwork-img {
    flex: 1 12%;
    margin-right: 20px;
  }

  .bigwork-img img {
    max-width: 100%;
  }

  .bigwork-img img {
    opacity:0.7;
  }
  
  .bigwork-img img:hover {
    opacity:1.0;
  }

  .bigwork-text {
    flex: 12;
  }

  .bigwork-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .bigwork h3 {
    color: black;
    font-size: 46px;
    flex: 1 30%;
    background-color: aliceblue;
    padding: 20px;
  }
  
  .bigwork-text p {
    color: black;
    font-size: 18px;
  }

  .smallwork {
    position: relative;
    text-align: center;
    color: white;
  }

  .smallwork-img {
    flex: 1 12%;
    margin-right: 20px;
    float: right;
  }

  .smallwork-img img {
    max-width: 50%;
    float: right;
  }

  .smallwork-text {
    flex: 12;
  }

  .smallwork-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .smallwork-img img {
    opacity:0.7;
  }
  
  .smallwork-img img:hover {
    opacity:1.0;
  }

    /* END WORK SECTION */

  /* CONTACT ME */

  .contact {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
    font-size:47px;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 40px;
  }

  .about-me {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  .about-me-text {
    margin-top: 20px;
    width: 70%;
    justify-content: center;
    font-size: 25px;
  }

  .about-me img {
    margin-top: 20px;
    width: 50%;
    justify-content: center;
  }

  /*WORK SECTION MEDIA*/
  
  .bigwork h3 {
    color: black;
    font-size: 45px;
    width: 100%;
    text-align: center;
    font-size:50px;
  }

  .bigwork-img img {
    margin-top: 20px;
    width: 200%;
    justify-content: center;
  }

  .smallwork-img img {
    max-width: 100%;
    float: right;
  }

  /*CONTACT SECTION MEDIA*/
  .contact {
    font-size:25px;
    justify-content: space-around;
  }


  /* FOOTER SECTION MEDIA*/

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
}

